<template>
  <div class="login-container">
    <h2 class="login-title">我的登陆页面</h2>
    <a-form ref="form" :model="form" class="login-form">
      <h2 class="title">用户登录 LOGIN</h2>
      <a-form-item>
        <a-input v-model="form.username">
          <a-icon slot="prefix" type="user" />
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-input-password v-model="form.password">
          <a-icon slot="prefix" type="unlock" />
        </a-input-password>
      </a-form-item>
      <a-form-item>
        <a-button class="submit" type="primary" @click="onSubmit">登录</a-button>
        <a-button class="submit mg-t" type="info" @click="register">注册</a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    onSubmit() {
      // this.$axios.post(`http://192.168.31.197:3000/api/users/login`, headers: { 'crossDomain': true }, {
      //   data: this.form
      // })
        // .then(res=>{
        //   if (res.data.error === 0) {
        //     this.$message.success('登录成功')
        //     this.$router.push('/home')
        //   } else {
        //     this.$message.error(res.data.message)
        //   }
        // })
      this.$axios({
        method: 'post',
        url: 'http://192.168.31.197:3000/api/users/login',
        data: this.form,
        withCredentials: true
      })
        .then(res=>{
          if (res.data.error === 0) {
            window.localStorage.setItem('token', res.data.data)
            this.$message.success('登录成功')
            this.$router.push('/home')
          } else {
            this.$message.error(res.data.message)
          }
        })
    },
    register() {

    }
  },
};
</script>
<style scoped>
.login-form {
  max-width: 565px;
  max-height: 372px;
  margin: 0 auto;
  /* background: url("../../assets/houTaiKuang.png"); */
  padding: 40px 110px;
}

/* 背景 */
.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/bg.png") no-repeat;
  background-size: 100% 100%;
}

/* Log */
.login-title {
  color: #fff;
  text-align: center;
  margin: 100px 0 60px 0;
  font-size: 36px;
  font-family: Microsoft Yahei;
}
/* 登陆按钮 */
.submit {
  width: 100%;
  height: 45px;
  font-size: 16px;
}
/* 用户登陆标题 */
.title {
  margin-bottom: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  font-family: Microsoft Yahei;
}
/* 输入框 */
.inputBox {
  height: 45px;
}
/* 输入框内左边距50px */
.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 50px;
}

.mg-t{
  margin-top: 10px;
}
</style>