<template>
  <div>
    <a-card>
      <a-form-model ref="ruleForm" :rules="rules" :model="form" :label-col="{span: 3}" :wrapper-col="{span: 12}">
        <a-form-model-item label="用户名" prop="username">
          <a-input v-model="form.username" />
        </a-form-model-item>
        <a-form-model-item label="密码" prop="password">
          <a-input v-model="form.password" />
        </a-form-model-item>
        <a-form-model-item label="性别" prop="sex">
          <a-radio-group v-model="form.sex">
            <a-radio value="man">
              男
            </a-radio>
            <a-radio value="woman">
              女
            </a-radio>
          </a-radio-group>
        </a-form-model-item>
        <a-form-model-item label="年龄" prop="age">
          <a-input v-model="form.age" />
        </a-form-model-item>
        <a-form-model-item>
          <a-button @click="addUser">注册用户</a-button>
        </a-form-model-item>
      </a-form-model>
    </a-card>

    <div>

    </div>
  </div>
</template>

<script>
export default {
	name: 'home',
  data() {
    return {
      form: {
        username: '',
        password: '',
        sex: '',
        age: '',
        avatar: '',
      },
      rules: {
        username: [{ required: true, message: '请输入用户名', trigger: 'blur' },],
        password: [{ required: true, message: '请输入密码', trigger: 'change' }],
        sex: [{ required: true, message: '请选择性别', trigger: 'change' }],
        age: [{ required: true, message: '请输入年龄', trigger: 'change' }],
      }
    }
  },
  created() {
    Promise.all([this.getUserList()])
  },
  methods: {
    addUser() {
      this.$refs['ruleForm'].validate(valid => {
        if (valid) {
          this.$axios.post(`http://192.168.31.197:3000/api/users/add`, {
            ...this.form
          })
            .then(res=>{
              console.log('res=>', res);            
            })
        }
      })
    },
    getUserList() {
      // this.$axios({
      //   method: 'post',
      //   url: 'http://192.168.31.197:3000/api/users',
        // headers: {
        //   Authorization: window.localStorage.getItem('token')
        // },
      //   withCredentials: true
      // })
      //     .then(res=>{
      //       console.log('res=>', res);            
      //     })

      this.$axios({
        method: 'post',
        url: 'http://192.168.31.197:3000/api/users',
        withCredentials: true
      })
        .then(res=>{
          if (res.data.error === 0) {
            console.log('res=>', res);
          }
        })
    }
  }
}
</script>

<style>

</style>